.products-list {
    text-align: center;
    margin:auto
}
.products-conatiner {
    display: flex;
    justify-content: space-between;
    
    width: 100%;
    margin: 2rem;
    padding: 1rem;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
    &:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    }
    .image-container {
        box-sizing: border-box;
    }

    .product-details {
        display: flex;
        box-sizing: border-box;
        justify-content: space-between;
        text-transform: capitalize;
        div {
            margin: 0.5rem;
            font-size: 14px;
            font-weight:400;
        }
        .name-container {
            font-size: 14px;
            font-weight: 600;
        }
        .available , .price  , .color{
            font-size:14px;
            font-weight: 600;            
        }
        

        
    }
    .action-container {
        box-sizing: border-box;
        width: auto;
        align-self: center;
        .btn {
            margin-right: 0.5rem;
        }
    }
    .image-container {
       
        img {
            align-self: center;
            width:100px;
            height:100px;
        }
    }
}