<nav class="">
  <div class="">   
    <a class="" href="#">
    <img src="./assets/images/amazon-india-logo.png" width="150px" height="35px"/>
    </a>
    <div class="">
      <ul class="">
        <li class="">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>      
      <select style="width:auto;" >
        <option selected>All</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
      <search-filter />
    </div>
  </div>
</nav>


<header>
  <div class="logo-container">
    <a href="#">
      <img src="./assets/images/amazon-india-logo.png" alt="Amazon Logo"
       width="150px" height="35px"/>
    </a>
  </div>
  <div class="search-container">
    <search-filter />
  </div>
</header>