header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #232f3e;
  color: #fff;
  padding: 10px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.logo-container img {
  height: 30px;
}

.search-container form {
  display: flex;
  align-items: center;
}

.search-container input[type="text"] {
  border: none;
  border-radius: 3px;
  padding: 8px 10px;
  font-size: 14px;
  margin-right: 5px;
  width: 400px;
}

.search-container button[type="submit"] {
  border: none;
  background-color: #febd69;
  color: #232f3e;
  border-radius: 3px;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
}