<nav class="header-top nav-bar-flex">  
  <div class="logo-img navigation-container">
    <a class="" href="#">
      <img src="./assets/images/amazon-black-logo.png"  width="150px" height="45px">
    </a>    
    <a class="men" href="#">Men</a>
    <a class="women" href="#">Women</a>
    <a class="kids" href="#">Kids</a> 
    <a class="beauty" href="#">Beauty</a>   
  </div>
  <div>
    <search-filter/>
  </div>    
  <div class="navigation-container">
    <a class="" href="#">Profile</a>    
    <a class="" href="#">Wishlist</a>
    <a class="" href="#">      
    <img src="./assets/images/cart.png" width="50px" height="45px">
    </a>
    
  </div>
</nav>
