.header-top {
 position: fixed;
 width:100%;
}
.nav-bar-flex {  
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0c0b0b;
  color: #fff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  
}

.navigation-container {
  margin-right:1rem;
  font-weight: 600;
  a {
    text-decoration: none;
    color: #fff;
    margin-left:2rem;
    &:hover {
      color:orange
    }
    
  }

  .men {
    &:hover {
      font-weight: 600;
      color: rgb(0, 247, 255)
    }
    
  }
  .women {
    &:hover {
      font-weight: 600;
      color: rgb(245, 101, 197)
    }    
  }

  .kids {
    &:hover {
      font-weight: 600;
      color: rgb(81, 247, 40)
    }    
  }
  
  .beauty {
    &:hover {
      font-weight: 600;
      color: rgb(216, 247, 40)
    }    
  }
}

.logo-container img {
  height: 30px;
}
